.game-ui {
	position: absolute;
	inset: 0;
	z-index: 1;
	pointer-events: none;
}

.game-ui__layout {
	position: absolute;
	inset: 0;
}

.game-ui__inventory-control,
.game-ui__backpack-region {
	position: absolute;
	right: 15px;
	pointer-events: auto;
}

.game-ui__inventory-control {
	bottom: 15px;
}

.game-ui__backpack-region {
	bottom: 96px;
}
