# SERVER

NODE_ENV=development | production

HOST_HTTP=127.0.0.1

PORT_HTTP=3000
PORT_WS=3001

# AUTH

AUTH_SESSION_SECRET=<at-least-32-random-bytes>

# DATABASE

DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/theryntile-online
